[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
moviepy = "*"
Werkzeug = "*"
Flask-Cors = "*"
gunicorn = "*"
wheel = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
